# Compiled objects
*.o
*.out
*.exe

# Project executable
plonck1

# Editor files (Vim/NeoVim)
*.swp
*.swo
*~

# KiCad temporary files
*.kicad_prl
*.kicad_dru
*.kicad_wks
*.erc
*.dcm
*.lib
*-cache.lib
*-rescue.lib
fp-info-cache
*.kicad_dbl
*.net
*.dsn
*.xml
*.zip
*.txt
*.msg
*.rpt
*.cmp
-*.kicad_mod
*.000
*-bak
*.bck
*.zip
autosave-*
